body{
	background-color: #f2f2f2;
}
ul{
	padding:0;
	margin: 0;
	list-style: none; 
}

.fix500{
	min-height: 500px;
}
.tabs-span-node div{
	width: 15%;
	float: left;
	max-width: 15%;
}
.tabs-span-node:before{
	clear: both;
}
.tabs-span-node{
	overflow: hidden;
	background-color: #FFF;
	margin-bottom: 30px;
	margin-left:-15px;
	margin-right:-15px;
	margin-top:-15px; 
	padding:15px;

}
.loginForm{
	max-width: 450px;
	margin: auto;
}
.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.bg-light{
	background-color: #004a7c !important;
	
}

.navbar-home li a.nav-link, .navbar-brand{
	color: #FFF !important;
}
.navbar-brand{
	min-width: 250px;
}
.form-inline .txt-text{
	color: #FFF;
	text-align: right;
	font-size: 11px;
	margin-right: 15px;
	border-right: 1px dotted #f2f2f2;
	padding-right: 15px; 
}

@-o-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #AD301B; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #AD301B; }
  100% { background-color: #FFFFFF; }
}

.fadeBg{    
    background-image:none !important; 
         -o-animation: fadeIt 5s ease-in-out; 
            animation: fadeIt 5s ease-in-out; 
}

.sidebar{
	background-color: #FFF;
	border-right:1px solid #ddd;
	position: relative;
	margin-bottom:-30px; 
}
.sidebar > .bd-search{
	padding: 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	margin-left: -15px;
	margin-right: -15px;
	background-color:#f3f3f3;

}

.nodesmall{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: red;
	right: -50px;
	z-index: 100;
	display: none;
}
.fix400{
	height: 400px;
	min-width: 400px;
	
}
.navtabs-history{
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
}
.navtabs-coins{
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
}
.sbox .card{
	margin-bottom:15px !important; 
}

.list-coind{
	margin-left: -15px;
	margin-right: -15px;
}
.list-coind li{
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
main{
	margin-bottom:0; 
}

.p_blancer{
	font-size: 11px;
	font-weight: normal;
	border:1px solid #ddd;
	background-color: #f3f3f3;
	padding: 5px;
}
footer{
	border-top:1px solid #ddd;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px; 
	color: #004a7c;
	min-height: 200px;
	
}